<footer id="footer">
    <div class="container">
      <h3>Facundo Menéndez</h3>
      <div class="social-links">
        <a href="https://www.facebook.com/facundo.menendez.39" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/facu.menendez" class="fa fa-instagram"></a> 
        <a href="https://www.linkedin.com/in/facundo-men%C3%A9ndez-b3560922b" class="fa fa-linkedin-square"></a>
      </div>
      <div class="copyright">
        Diseñado por <strong><span>FacuMe</span></strong> © 
      </div>
      <div class="credits">
        Argentina Programa 2022
      </div>
    </div>
</footer>