<div class="container-fluid">
    <div class="portfolio-header">  
        <img class="img-fluid banner" src="/assets/leadbg3.jpg" alt="banner">
        <div class="photo">
            <img class="profilepic" [src]="myPortfolio.persona.url_foto_perfil" alt="profilepic">
            <div class="edit-buttons">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row personal-data">
            <div class="col-xl-3 col-md-6">
                <div>
                    <p class="title"><b>{{myPortfolio.persona.nombre}} {{myPortfolio.persona.apellido}}</b></p>
                </div>
                <div class="info">
                    <p>{{myPortfolio.persona.descripcion_1}}</p>
                    <p>{{myPortfolio.persona.descripcion_2}}</p>
                    <p>{{myPortfolio.persona.fecha_de_nacimiento}}, {{myPortfolio.persona.domicilio}}</p>
                    <p>{{myPortfolio.persona.correo}}</p>
                </div>
            </div>
            <img id="joblogo" class="img-fluid rounded float-right" [src]="myPortfolio.persona.url_foto_logo" alt="scba-logo">
        </div>
    </div>
</div>