.portfolio-sections {
    height: auto;
    margin-top: 1%;
    border-radius: 20px;
    border: 1px solid #ced4da;
    background-color: white;
}

.title {
    margin-top: 1%;
    font-size: 28px;
    display:flex;
    justify-content: space-between;
    padding-left: 2.5%;
}

.subsection {
    padding-left: 1.7%;
    margin-bottom: 1.7%;
    display: flex;
    justify-content: space-between;
}

.edit-buttons {
    margin-right: 2.5%;
    margin-top: 1%;
    display: flex;
    font-size: 20px;
}

.edit-icon {
    padding-right: 20px;
}

.delete-icon {
    padding-right: 0.7px;
}

.fa:hover {
    opacity: 0.7;
    cursor: pointer;
  }


.card-block {
    padding: 1.25rem;
 }
 
.progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
 }
 
 /* 
.bg-c-red {
   background: #FF5370;
}

.bg-c-blue {
    background: #4099ff;
 }
 
 .bg-c-green {
    background: #2ed8b6;
 }
 
 .bg-c-yellow {
    background: #FFB64D;
 }
 */
 
.form-block {
    padding-left: 2.5%;
    margin-bottom: 1%;
}

 .form-row {
    padding-top: 1%;
 }