<div class="container-fluid">
    <div class="portfolio-sections"> 
        <div class="section">
            <div class="title section-title">
                <div class="title-name">
                    <h2>Habilidades</h2>
                </div>
                <div class="edit-buttons">
                    <div>
                        <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="isLogged" data-bs-toggle="modal" data-bs-target="#staticBackdropNewSkill"></i>
                    </div>
                </div>
            </div>


            <!-- modal for creating skill-->
            <div class="modal fade" id="staticBackdropNewSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelNewSkill" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Crear Habilidad</h5>
                            <button id="closeButtonSkill" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close" (click)="resetValidations()"></button>
                        </div>
                        <div class="modal-body">
                            <form class="form-block" (ngSubmit)="onSubmitAddSkill()" autocomplete="off">
                                <div class="form-group row align-items-center">
                                    <label for="text" class="col-md-3 col-form-label">Nombre <span *ngIf="errorValidation1" class="text-danger">*</span> <span *ngIf="errorValidation2" class="text-danger">*(40)</span> </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="nombre-habilidad" id="nombre-habilidad" placeholder="Nombre de la habilidad" [(ngModel)]="nombre">
                                    </div>
                                </div>
                                <div class="form-group row form-row mt-2 align-items-center">
                                    <label for="text" class="col-md-3 col-form-label">Porcentaje <span *ngIf="errorValidation1" class="text-danger">*</span> <span *ngIf="errorValidation2" class="text-danger">*(3)</span> <span *ngIf="errorValidation3" class="text-danger">*(0-100)</span> </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="porcentaje" id="porcentaje" placeholder="Porcentaje de progreso (0 - 100)" [(ngModel)]="porcentaje">
                                    </div>
                                </div>
                                <div class="form-group row form-row mt-1 align-items-center">
                                    <label for="exampleFormControlSelect" class="col-md-3 col-form-label">Grupo de color <span *ngIf="errorValidation1" class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-select" name="color" id="color" [(ngModel)]="color">
                                            <option value="" selected disabled hidden>Seleccionar color</option>
                                            <option>Rojo</option>
                                            <option>Azul</option>
                                            <option>Verde</option>
                                            <option>Amarillo</option>
                                            <option>Rosa</option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="errorValidation1" class="errorMsj">
                                    <p class="text-danger col-form-label">
                                        * Por favor completa los campos obligatorios del empleo
                                    </p>
                                </div>
                                <div *ngIf="errorValidation2" class="errorMsj">
                                    <p class="text-danger col-form-label">
                                        * Máximo de caracteres superado, verifique los campos
                                    </p>
                                </div>
                                <div *ngIf="errorValidation3" class="errorMsj">
                                    <p class="text-danger col-form-label">
                                        * Ingresar porcentaje válido (0-100)
                                    </p>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-5 mt-2">
                                        <button type="submit" class="btn btn-warning">Crear Habilidad</button>
                                    </div>
                                </div>      
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--list of skills-->
            <div class="subsection">
                <div class="row container-fluid d-flex justify-content-center">
                    <div class="col-xl-12">
                        <div class="card-block">
                            <div class="row">
                                <div *ngFor="let habilidad of mySkills" class="col-xl-3 col-md-6">
                                    <div *ngIf="isLoad" class="d-flex justify-content-between">
                                        <h6>{{habilidad.nombre}}</h6>
                                        <div class="edit-buttons">
                                            <i class="fa fa-pencil edit-icon" aria-hidden="true" *ngIf="isLogged" data-bs-toggle="modal" [attr.data-bs-target]="'#staticBackdropSkill' + habilidad.id"></i>
                                            <i class="fa fa-trash delete-icon" aria-hidden="true" *ngIf="isLogged" data-bs-toggle="modal" [attr.data-bs-target]="'#staticBackdropSkillDelete' + habilidad.id"></i>
                                        </div>
                                    </div>
                                    <h5 class="m-b-30 f-w-700">{{habilidad.porcentaje}}%</h5>
                                    <div class="progress">
                                        <div class="progress-bar" [ngStyle]="{
                                            'width': (habilidad.porcentaje + '%'), 
                                            'background': habilidad.color}">
                                        </div>
                                    </div>

                                    <!-- Modal for editing-->
                                    <div class="modal fade" [attr.id]="'staticBackdropSkill' + habilidad.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelSkill" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Modificar Habilidad: {{habilidad.nombre}}</h5>
                                                    <button [attr.id]="'closeButtonSkill' + habilidad.id" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close" (click)="resetValidations()"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!--form for modifying skill-->
                                                    <form class="form-block" (ngSubmit)="onSubmitModifySkill(habilidad)" autocomplete="off">
                                                        <div class="form-group row align-items-center">
                                                            <label for="text" class="col-md-3 col-form-label">Nombre <span *ngIf="errorValidation1" class="text-danger">*</span> <span *ngIf="errorValidation2" class="text-danger">*(40)</span> </label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="nombre-habilidad" id="nombre-habilidad" placeholder="Nombre de la habilidad" [(ngModel)]="nombreCargados[habilidad.id]">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row form-row mt-2 align-items-center">
                                                            <label for="text" class="col-md-3 col-form-label">Porcentaje <span *ngIf="errorValidation1" class="text-danger">*</span> <span *ngIf="errorValidation2" class="text-danger">*(3)</span> <span *ngIf="errorValidation3" class="text-danger">*(0-100)</span> </label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" name="porcentaje" id="porcentaje" placeholder="Porcentaje de progreso (0 - 100)" [(ngModel)]="porcentajeCargados[habilidad.id]">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row form-row mt-1 align-items-center">
                                                            <label for="exampleFormControlSelect" class="col-md-3 col-form-label">Grupo de color <span *ngIf="errorValidation1" class="text-danger">*</span></label>
                                                            <div class="col-sm-9">
                                                                <!--<select multiple class="form-control" name="color" id="color" [(ngModel)]="color">-->
                                                                <select class="form-control form-select" name="color" id="color" [(ngModel)]="colorCargados[habilidad.id]">
                                                                    <option value="" selected disabled hidden>Seleccionar color</option>
                                                                    <option>Rojo</option>
                                                                    <option>Azul</option>
                                                                    <option>Verde</option>
                                                                    <option>Amarillo</option>
                                                                    <option>Rosa</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="errorValidation1" class="errorMsj">
                                                            <p class="text-danger col-form-label">
                                                                * Por favor completa los campos obligatorios de la habilidad
                                                            </p>
                                                        </div>
                                                        <div *ngIf="errorValidation2" class="errorMsj">
                                                            <p class="text-danger col-form-label">
                                                                * Máximo de caracteres superado, verifique los campos
                                                            </p>
                                                        </div>
                                                        <div *ngIf="errorValidation3" class="errorMsj">
                                                            <p class="text-danger col-form-label">
                                                                * Ingresar porcentaje válido (0-100)
                                                            </p>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="col-md-5 mt-2">
                                                                <button type="submit" class="btn btn-warning">Modificar Habilidad</button>
                                                            </div>
                                                        </div>      
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal for deleting-->
                                    <div class="modal fade" [attr.id]="'staticBackdropSkillDelete' + habilidad.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelSkillDelete" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Borrar Habilidad: {{habilidad.nombre}}</h5>
                                                    <button [attr.id]="'closeButtonSkillDelete' + habilidad.id" type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!--form for deleting skill-->
                                                    <form class="form-block" (ngSubmit)="onDeleteSkill(habilidad)" autocomplete="off">
                                                        <div class="form-group row align-items-center">
                                                            <label for="text" class="col-md-9 col-form-label">¿Seguro desea eliminar la habilidad?</label>
                                                        </div>
                                                        <div class="col-md-5 mt-4">
                                                            <button type="submit" class="btn btn-warning">Eliminar Habilidad</button>
                                                        </div>     
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
