<div class="container-fluid">
    <div class="portfolio-sections"> 
        <div class="section">
            <div class="title">
                <p>Habilidades</p>
                <div class="edit-buttons">
                    <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="!showAddSkill" (click)="onShowAddSkill()"></i>
                </div>
            </div>

            <!--form for adding new skill-->
            <form class="row container d-flex justify-content-center form-block" *ngIf="showAddSkill">
                <div class="col-xl-12">
                    <div class="card proj-progress-card">
                        <div class="card-block d-flex justify-content-between">
                            <div class="row">
                                <div class="form-group row">
                                    <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="nombre-habilidad" id="nombre-habilidad" placeholder="Nombre de la habilidad">
                                    </div>
                                </div>
                                <div class="form-group row form-row">
                                    <label for="text" class="col-sm-2 col-form-label">Porcentaje</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="porcentaje" id="porcentaje" placeholder="Porcentaje de progreso (0 - 100)">
                                    </div>
                                </div>
                                <div class="form-group form-row d-flex">
                                    <label for="exampleFormControlSelect" class="col-sm-2 col-form-label">Grupo de color</label>
                                    <div class="col-sm-10">
                                        <select multiple class="form-control" name="color" id="color">
                                            <option>Rojo</option>
                                            <option>Azul</option>
                                            <option>Verde</option>
                                            <option>Amarillo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row d-flex">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-warning">Agregar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="edit-buttons">
                                    <i class="fa fa-close" aria-hidden="true" (click)="onShowAddSkill()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--list of skills-->
            <div class="subsection">
                <div class="row container d-flex justify-content-center">
                    <div class="col-xl-12">
                        <div class="card proj-progress-card">
                            <div class="card-block">
                                <div class="row">
                                    <div *ngFor="let habilidad of mySkills" class="col-xl-3 col-md-6">
                                        <div class="d-flex justify-content-between">
                                            <h6>{{habilidad.nombre}}</h6>
                                            <div class="edit-buttons">
                                                <i class="fa fa-trash delete-icon" aria-hidden="true" (click)="onDeleteSkill(habilidad)"></i>
                                            </div>
                                        </div>
                                        <h5 class="m-b-30 f-w-700">{{habilidad.porcentaje}}%</h5>
                                        <div class="progress">
                                            <div class="progress-bar" [ngStyle]="{
                                                'width': (habilidad.porcentaje + '%'), 
                                                'background': habilidad.color}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>