<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" id="brand" class="navbar-brand" href="#">
    <img id="brand-logo" width="40" height="30" class="d-inline-block align-top" src="../assets/argprop-logo2.jpg" alt="ArgProg-logo">
    <b id="brand-name">Argentina Programa</b>
  </a>
  <div class="container-fluid justify-content-end">
    <div id="socialicons">
      <a href="https://www.facebook.com/facundo.menendez.39" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/facu.menendez" class="fa fa-instagram"></a> 
      <a href="https://www.linkedin.com/in/facundo-men%C3%A9ndez-b3560922b" class="fa fa-linkedin-square"></a>
    </div>
    <button routerLink="/login" id="loginbutton" type="button" class="btn btn-outline-warning" *ngIf="!isLogged"><b>INICIAR SESIÓN</b></button>
    <button id="logoutbutton" type="button" class="btn btn-outline-warning" (click)="onLogOut()" *ngIf="isLogged"><b>CERRAR SESIÓN</b></button>
  </div>
</nav>
