<div class="container-fluid">
    <div class="portfolio-sections">
        
        <div class="section">
            <div class="title">
                <p>Experiencia</p>
                <div class="edit-buttons">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="subsection">
                <div class="col-6">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste dicta omnis sunt molestiae ipsam architecto, sapiente, inventore soluta culpa id enim, beatae fuga corporis itaque alias dolorem perspiciatis cum vero.
                    </p>
                </div>
                <div class="edit-buttons">
                    <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
                    <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="title">          
                <p>Educación</p>
                <div class="edit-buttons">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="subsection">
                <div class="col-6">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste dicta omnis sunt molestiae ipsam architecto, sapiente, inventore soluta culpa id enim, beatae fuga corporis itaque alias dolorem perspiciatis cum vero.
                    </p>
                </div>
                <div class="edit-buttons">
                    <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
                    <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="title">
                <p>Proyectos</p>
                <div class="edit-buttons">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="subsection">
                <div class="col-6">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste dicta omnis sunt molestiae ipsam architecto, sapiente, inventore soluta culpa id enim, beatae fuga corporis itaque alias dolorem perspiciatis cum vero.
                    </p>
                </div>
                <div class="edit-buttons">
                    <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
                    <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
</div>
