<div class="container-fluid">
        <div class="portfolio-sections">  
            <div class="section">
                <div class="title">
                    <p>Experiencia</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="!showAddExperience" (click)="onShowAddExperience()"></i>
                    </div>
                </div>

                <!--form for adding new experience-->
                <form class="row container d-flex justify-content-center form-block" *ngIf="showAddExperience" (ngSubmit)="onSubmitAddExperience()">
                    <div class="col-xl-12">
                        <div class="card proj-progress-card">
                            <div class="card-block d-flex justify-content-between">
                                <div class="row">
                                    <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Puesto</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="puesto" id="puesto" placeholder="Nombre del puesto" [(ngModel)]="puesto">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Empleador</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="empleador" id="empleador" placeholder="Nombre/razón social del empleador" [(ngModel)]="empleador">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Ingreso</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-ingreso-experiencia" id="fecha-ingreso-experiencia" placeholder="Fecha de ingreso" [(ngModel)]="fechaIngreso">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Salida</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-salida-experiencia" id="fecha-salida-experiencia" placeholder="Fecha de salida" [(ngModel)]="fechaSalida">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Tipo de empleo</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="tipo-empleo" id="tipo-empleo" placeholder="Tipo de empleo" [(ngModel)]="tipoEmpleo">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" [(ngModel)]="descripcionEmpleo">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <div class="col-sm-2">Empleo actual</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="empleo-actual" id="empleo-actual" [(ngModel)]="empleoActual">
                                                <label class="form-check-label" for="empleo-actual"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row d-flex">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-warning">Agregar nuevo empleo</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="edit-buttons">
                                        <i class="fa fa-close" aria-hidden="true" (click)="onShowAddExperience()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--list of experiences-->
                <div *ngFor="let experiencia of myExperiences"> 
                    <div class="subsection">
                        <div class="col-6">
                            <p>{{experiencia.puesto}}</p>
                            <p>{{experiencia.empleador}}</p>
                            <p>{{experiencia.fechaIngreso}} - {{experiencia.fechaSalida}}</p>
                            <p>{{experiencia.tipoEmpleo}}</p>
                            <p>{{experiencia.descripcionEmpleo}}</p>
                        </div>
                        
                        <div class="edit-buttons">
                            <i class="fa fa-pencil edit-icon" aria-hidden="true" *ngIf="!showModifyExperience[experiencia.id]" (click)="onShowModifyExperience(experiencia.id)"></i>
                            <i class="fa fa-trash delete-icon" aria-hidden="true" (click)="onDeleteExperience(experiencia)"></i>
                        </div>
                    </div>
                        
                    <!--form for modifying experience-->
                    <form class="row container d-flex justify-content-center form-block" *ngIf="showModifyExperience[experiencia.id]" (ngSubmit)="onSubmitModifyExperience(experiencia)">
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="card-block d-flex justify-content-between">
                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="text" class="col-sm-2 col-form-label">Puesto</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="puesto" id="puesto" placeholder="Nombre del puesto" [(ngModel)]="puesto">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Empleador</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="empleador" id="empleador" placeholder="Nombre/razón social del empleador" [(ngModel)]="empleador">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Ingreso</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-ingreso-experiencia" id="fecha-ingreso-experiencia" placeholder="Fecha de ingreso" [(ngModel)]="fechaIngreso">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Salida</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-salida-experiencia" id="fecha-salida-experiencia" placeholder="Fecha de salida" [(ngModel)]="fechaSalida">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Tipo de empleo</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="tipo-empleo" id="tipo-empleo" placeholder="Tipo de empleo" [(ngModel)]="tipoEmpleo">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Tipo de empleo" [(ngModel)]="descripcionEmpleo">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                        <div class="col-sm-2">Empleo actual</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="empleo-actual" id="empleo-actual" [(ngModel)]="empleoActual">
                                                <label class="form-check-label" for="empleo-actual">
                                                    
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="form-row d-flex">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-warning">Modificar empleo</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="edit-buttons">
                                            <i class="fa fa-close" aria-hidden="true" (click)="onShowModifyExperience(experiencia.id)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <hr>
                
            <div class="section">
                <div class="title">          
                    <p>Educación</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="!showAddEducation" (click)="onShowAddEducation()"></i>
                    </div>
                </div>
                

                <!--form for adding new education-->
                <form class="row container d-flex justify-content-center form-block" *ngIf="showAddEducation">
                    <div class="col-xl-12">
                        <div class="card proj-progress-card">
                            <div class="card-block d-flex justify-content-between">
                                <div class="row">
                                    <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Institución</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="institucion" id="institucion" placeholder="Nombre de la institución">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nombre-estudio" id="nombre-estudio" placeholder="Nombre del curso, estudio o capacitación">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Inicio</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-inicio-estudio" id="fecha-inicio-estudio" placeholder="Fecha de inicio">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Finalización</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-finalizacion-estudio" id="fecha-finalizacion-estudio" placeholder="Fecha de finalización">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="descripcion-estudio" id="descripcion-estudio" placeholder="Descripción">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                    <div class="col-sm-2">Estudio actual</div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="estudio-actual" id="estudio-actual">
                                            <label class="form-check-label" for="estudio-actual">
                                                
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="form-row d-flex">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-warning">Agregar estudio</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="edit-buttons">
                                        <i class="fa fa-close" aria-hidden="true" (click)="onShowAddEducation()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--list of educations-->
                <div *ngFor="let educacion of myEducations">
                    <div class="subsection">
                        <div class="col-6">
                            <p>{{educacion.institucion}}</p>
                            <p>{{educacion.nombre}}</p>
                            <p>{{educacion.fecha_inicio}} - {{educacion.fecha_finalizacion}}</p>
                            <p>{{educacion.descripcion}}</p>
                        </div>
                        <div class="edit-buttons">
                            <i class="fa fa-pencil edit-icon" aria-hidden="true" *ngIf="!showModifyEducation[educacion.id]" (click)="onShowModifyEducation(educacion.id)"></i>
                            <i class="fa fa-trash delete-icon" aria-hidden="true" (click)="onDeleteEducation(educacion)"></i>
                        </div>
                    </div>

                    <!--form for modifying education-->
                    <form class="row container d-flex justify-content-center form-block" *ngIf="showModifyEducation[educacion.id]">
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="card-block d-flex justify-content-between">
                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="text" class="col-sm-2 col-form-label">Institución</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="institucion" id="institucion" placeholder="Nombre de la institución">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="nombre-estudio" id="nombre-estudio" placeholder="Nombre del curso, estudio o capacitación">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Inicio</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-inicio-estudio" id="fecha-inicio-estudio" placeholder="Fecha de inicio">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Finalización</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-finalizacion-estudio" id="fecha-finalizacion-estudio" placeholder="Fecha de finalización">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="descripcion-estudio" id="descripcion-estudio" placeholder="Descripción">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                        <div class="col-sm-2">Estudio actual</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="estudio-actual" id="estudio-actual">
                                                <label class="form-check-label" for="estudio-actual">
                                                    
                                                </label>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="form-row d-flex">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-warning">Modificar estudio</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="edit-buttons">
                                            <i class="fa fa-close" aria-hidden="true" (click)="onShowModifyEducation(educacion.id)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <hr>

            <div class="section">
                <div class="title">
                    <p>Habilidades</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="!showAddSkill" (click)="onShowAddSkill()"></i>
                    </div>
                </div>

                <!--form for adding new skill-->
                <form class="row container d-flex justify-content-center form-block" *ngIf="showAddSkill">
                    <div class="col-xl-12">
                        <div class="card proj-progress-card">
                            <div class="card-block d-flex justify-content-between">
                                <div class="row">
                                    <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nombre-habilidad" id="nombre-habilidad" placeholder="Nombre de la habilidad">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Porcentaje</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="porcentaje" id="porcentaje" placeholder="Porcentaje de progreso (0 - 100)">
                                        </div>
                                    </div>
                                    <div class="form-group form-row d-flex">
                                        <label for="exampleFormControlSelect" class="col-sm-2 col-form-label">Grupo de color</label>
                                        <div class="col-sm-10">
                                            <select multiple class="form-control" name="color" id="color">
                                                <option>Rojo</option>
                                                <option>Azul</option>
                                                <option>Verde</option>
                                                <option>Amarillo</option>
                                            </select>
                                        </div>
                                      </div>
                                    <div class="form-row d-flex">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-warning">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="edit-buttons">
                                        <i class="fa fa-close" aria-hidden="true" (click)="onShowAddSkill()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>

                <!--list of skills-->
                <div class="subsection">
                    <div class="row container d-flex justify-content-center">
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="card-block">
                                    <div class="row">
                                        <div *ngFor="let habilidad of mySkills" class="col-xl-3 col-md-6">
                                            <div class="d-flex justify-content-between">
                                                <h6>{{habilidad.nombre}}</h6>
                                                <div class="edit-buttons">
                                                    <i class="fa fa-trash delete-icon" aria-hidden="true" (click)="onDeleteSkill(habilidad)"></i>
                                                </div>
                                            </div>
                                            <h5 class="m-b-30 f-w-700">{{habilidad.porcentaje}}%</h5>
                                            <div class="progress">
                                                <div class="progress-bar" [ngStyle]="{
                                                    'width': (habilidad.porcentaje + '%'), 
                                                    'background': habilidad.color}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="section">
                <div class="title">
                    <p>Proyectos</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="!showAddProject" (click)="onShowAddProject()"></i>
                    </div>
                </div>

                <!--form for adding new project-->
                <form class="row container d-flex justify-content-center form-block" *ngIf="showAddProject">
                    <div class="col-xl-12">
                        <div class="card proj-progress-card">
                            <div class="card-block d-flex justify-content-between">
                                <div class="row">
                                    <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nombre-proyecto" id="nombre-proyecto" placeholder="Nombre del proyecto">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Entidad</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="entidad" id="entidad" placeholder="Nombre de la entidad">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Inicio</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-inicio-proyecto" id="fecha-inicio-proyecto" placeholder="Fecha de inicio">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Finalización</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-finalizacion-proyecto" id="fecha-finalizacion-proyecto" placeholder="Fecha de finalización">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="descripcion-proyecto" id="descripcion-proyecto" placeholder="Descripción">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                    <div class="col-sm-2">Proyecto actual</div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="empleo-actual" id="empleo-actual">
                                            <label class="form-check-label" for="empleo-actual">
                                                
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="form-row d-flex">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-warning">Agregar proyecto</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="edit-buttons">
                                        <i class="fa fa-close" aria-hidden="true" (click)="onShowAddProject()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>

                <!--list of projects-->
                <div *ngFor="let proyecto of myProjects">
                    <div class="subsection">
                        <div class="col-6">
                            <p>{{proyecto.nombre}}</p>
                            <p>{{proyecto.entidad}}</p>
                            <p>{{proyecto.fecha_inicio}} - {{proyecto.fecha_finalizacion}}</p>
                            <p>{{proyecto.descripcion}}</p>
                        </div>
                        <div class="edit-buttons">
                            <i class="fa fa-pencil edit-icon" aria-hidden="true" *ngIf="!showModifyProject[proyecto.id]" (click)="onShowModifyProject(proyecto.id)"></i>
                            <i class="fa fa-trash delete-icon" aria-hidden="true" (click)="onDeleteProject(proyecto)"></i>
                        </div>
                    </div>

                     <!--form for modifying new project-->
                    <form class="row container d-flex justify-content-center form-block" *ngIf="showModifyProject[proyecto.id]">
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="card-block d-flex justify-content-between">
                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="nombre-proyecto" id="nombre-proyecto" placeholder="Nombre del proyecto">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Entidad</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="entidad" id="entidad" placeholder="Nombre de la entidad">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Inicio</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-inicio-proyecto" id="fecha-inicio-proyecto" placeholder="Fecha de inicio">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Finalización</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-finalizacion-proyecto" id="fecha-finalizacion-proyecto" placeholder="Fecha de finalización">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="descripcion-proyecto" id="descripcion-proyecto" placeholder="Descripción">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                        <div class="col-sm-2">Proyecto actual</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="empleo-actual" id="empleo-actual">
                                                <label class="form-check-label" for="empleo-actual">
                                                    
                                                </label>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="form-row d-flex">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-warning">Modificar proyecto</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="edit-buttons">
                                            <i class="fa fa-close" aria-hidden="true" (click)="onShowModifyProject(proyecto.id)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
</div>
