<div class="container-fluid">
        <div class="portfolio-sections">  
            <div class="section">
                <div class="title">
                    <p>Experiencia</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngFor="let experiencia of myExperience" class="subsection">
                    <div class="col-6">
                        <p>{{experiencia.puesto}}</p>
                        <p>{{experiencia.empleador}}</p>
                        <p>{{experiencia.fecha_ingreso}} - {{experiencia.fecha_salida}}</p>
                        <p>{{experiencia.tipo_empleo}}</p>
                        <p>{{experiencia.descripcion}}</p>
                    </div>
                    <div class="edit-buttons">
                        <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
                        <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <hr>

            <div class="section">
                <div class="title">          
                    <p>Educación</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngFor="let educacion of myEducation" class="subsection">
                    <div class="col-6">
                        <p>{{educacion.institucion}}</p>
                        <p>{{educacion.nombre}}</p>
                        <p>{{educacion.fecha_inicio}} - {{educacion.fecha_finalizacion}}</p>
                        <p>{{educacion.descripcion}}</p>
                    </div>
                    <div class="edit-buttons">
                        <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
                        <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <hr>

            <div class="section">
                <div class="title">
                    <p>Habilidades</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="subsection">
                    <div class="row container d-flex justify-content-center">
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="card-block">
                                    <div class="row">
                                        <div *ngFor="let habilidad of mySkill" class="col-xl-3 col-md-6">
                                            <div class="d-flex justify-content-between">
                                                <h6>{{habilidad.nombre}}</h6>
                                                <div class="edit-buttons">
                                                    <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
                                                    <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <h5 class="m-b-30 f-w-700">{{habilidad.porcentaje}}%</h5>
                                            <div class="progress">
                                                <div class="progress-bar" [ngStyle]="{
                                                    'width': (habilidad.porcentaje + '%'), 
                                                    'background': habilidad.color}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="section">
                <div class="title">
                    <p>Proyectos</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                </div>
                <div *ngFor="let proyecto of myProject" class="subsection">
                    <div class="col-6">
                        <p>{{proyecto.nombre}}</p>
                        <p>{{proyecto.entidad}}</p>
                        <p>{{proyecto.fecha_inicio}} - {{proyecto.fecha_finalizacion}}</p>
                        <p>{{proyecto.descripcion}}</p>
                    </div>
                    <div class="edit-buttons">
                        <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
                        <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
</div>
