.portfolio-sections {
    height: auto;
    margin-top: 1%;
    border-radius: 20px;
    border: 1px solid #ced4da;
    background-color: white;
}

.title {
    margin-top: 1%;
    font-size: 28px;
    display:flex;
    justify-content: center;
}

.title-name{
    margin-left: auto;
}

.subsection {
    padding-left: 2.5%;
    display: flex;
    justify-content: space-between;
}

.edit-buttons {
    margin-right: 2.5%;
    margin-top: 1%;
    margin-left: auto;
    display: flex;
    font-size: 20px;
}

.edit-icon {
    padding-right: 20px;
    font-size: 20px;
}

.delete-icon {
    padding-right: 0.7px;
    font-size: 20px;
}

.fa:hover {
    opacity: 0.7;
    cursor: pointer;
  }


.card-block {
    padding: 1.25rem;
 }
 
.progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
 }
 
 /* 
.bg-c-red {
   background: #FF5370;
}

.bg-c-blue {
    background: #4099ff;
 }
 
 .bg-c-green {
    background: #2ed8b6;
 }
 
 .bg-c-yellow {
    background: #FFB64D;
 }
 */
 
.form-block {
    padding-left: 2.5%;
    margin-bottom: 1%;
}

 .form-row {
    padding-top: 1%;
 }


.form-control:focus {
    border-color: rgba(132, 131, 131, 0.015);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f0bc2c;
}


.form-check-input:checked {
    background-color: rgb(120, 115, 115);
    border-color: rgb(120, 115, 115);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(120, 115, 115);
}

.form-check-input:focus {
    border-color: rgb(120, 115, 115);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(120, 115, 115);
}








#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #edc24a;
    z-index: 0
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #edc24a;
    background: linear-gradient(to bottom, #edc24a, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px
}

.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0
}

.vtimeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #edc24a;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
    margin-left: 15.3px;
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054
}

.content{
    overflow-wrap: break-word;
}

.experiencepic {
    height: 80px;
    width: 80px
}

@media only screen and (max-width: 750px) {

    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px
    }

    .vtimeline-icon {
        margin-left: 0
    }

    .vtimeline-content {
        margin-left: 70px
    }
}