<div class="container-fluid">
        <div class="portfolio-sections">  
            <div class="section">
                <div class="title">
                    <p>Experiencia</p>
                    <div class="edit-buttons">
                        <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="!showAddExperience && isLogged" (click)="onShowAddExperience()"></i>
                    </div>
                </div>

                <!--form for adding new experience-->
                <form class="row container d-flex justify-content-center form-block" *ngIf="showAddExperience && isLogged" (ngSubmit)="onSubmitAddExperience()">
                    <div class="col-xl-12">
                        <div class="card proj-progress-card">
                            <div class="card-block d-flex justify-content-between">
                                <div class="row">
                                    <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Puesto</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="puesto" id="puesto" placeholder="Nombre del puesto" [(ngModel)]="puesto">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Empleador</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="empleador" id="empleador" placeholder="Nombre/razón social del empleador" [(ngModel)]="empleador">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Ingreso</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-ingreso-experiencia" id="fecha-ingreso-experiencia" placeholder="Fecha de ingreso" [(ngModel)]="fechaIngreso">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Salida</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-salida-experiencia" id="fecha-salida-experiencia" placeholder="Fecha de salida" [(ngModel)]="fechaSalida">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Tipo de empleo</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="tipo-empleo" id="tipo-empleo" placeholder="Tipo de empleo" [(ngModel)]="tipoEmpleo">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripción" [(ngModel)]="descripcion">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <div class="col-sm-2">Empleo actual</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="empleo-actual" id="empleo-actual" [(ngModel)]="empleoActual">
                                                <label class="form-check-label" for="empleo-actual"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row d-flex">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-warning">Agregar nuevo empleo</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="edit-buttons">
                                        <i class="fa fa-close" aria-hidden="true" (click)="onShowAddExperience()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--list of experiences-->
                <div *ngFor="let experiencia of myExperiences"> 
                    <div class="subsection">
                        <div class="col-6">
                            <p>{{experiencia.puesto}}</p>
                            <p>{{experiencia.empleador}}</p>
                            <p>{{experiencia.fechaIngreso}} - {{experiencia.fechaSalida}}</p>
                            <p>{{experiencia.tipoEmpleo}}</p>
                            <p>{{experiencia.descripcion}}</p>
                        </div>
                        
                        <div class="edit-buttons">
                            <i class="fa fa-pencil edit-icon" aria-hidden="true" *ngIf="!showModifyExperience[experiencia.id] && isLogged" (click)="onShowModifyExperience(experiencia.id)"></i>
                            <i class="fa fa-trash delete-icon" aria-hidden="true" *ngIf="isLogged" (click)="onDeleteExperience(experiencia)"></i>
                        </div>
                    </div>
                        
                    <!--form for modifying experience-->
                    <form class="row container d-flex justify-content-center form-block" *ngIf="showModifyExperience[experiencia.id] && isLogged" (ngSubmit)="onSubmitModifyExperience(experiencia)">
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="card-block d-flex justify-content-between">
                                    <div class="row">
                                        <div class="form-group row">
                                            <label for="text" class="col-sm-2 col-form-label">Puesto</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="puesto" id="puesto" placeholder="Nombre del puesto" [(ngModel)]="puesto">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Empleador</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="empleador" id="empleador" placeholder="Nombre/razón social del empleador" [(ngModel)]="empleador">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Ingreso</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-ingreso-experiencia" id="fecha-ingreso-experiencia" placeholder="Fecha de ingreso" [(ngModel)]="fechaIngreso">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Fecha de Salida</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="fecha-salida-experiencia" id="fecha-salida-experiencia" placeholder="Fecha de salida" [(ngModel)]="fechaSalida">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Tipo de empleo</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="tipo-empleo" id="tipo-empleo" placeholder="Tipo de empleo" [(ngModel)]="tipoEmpleo">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                            <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Tipo de empleo" [(ngModel)]="descripcion">
                                            </div>
                                        </div>
                                        <div class="form-group row form-row">
                                        <div class="col-sm-2">Empleo actual</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="empleo-actual" id="empleo-actual" [(ngModel)]="empleoActual">
                                                <label class="form-check-label" for="empleo-actual">
                                                    
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="form-row d-flex">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-warning">Modificar empleo</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="edit-buttons">
                                            <i class="fa fa-close" aria-hidden="true" *ngIf="isLogged" (click)="onShowModifyExperience(experiencia.id)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
   
        </div>
</div>