<div class="container">
    <form class="login-form">
        <h1 class="h3 mb-3 fw-normal">
            Acceder a la plataforma
        </h1>

        <form class="mt-5" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="form-floating login-element form-element">
                <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario" required>
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating login-element">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
                <label for="floatingPassword">Contraseña</label>
            </div>
            <!--
            <div class="checkbox mb-3 login-element">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
            </div>
            -->
            <button class="w-100 btn btn-lg btn-dark login-element mt-5" type="submit">Ingresar</button>
        </form>
        
        <p class="mt-5 mb-3 text-muted login-element">© 2022</p>
    </form>
</div>
