<div class="container-fluid">
    <div class="about">
        <div class="title">
            <h2>Perfil</h2>
            <div class="edit-buttons">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
        </div>
        <div class="description">
            <div class="col-8">
                <p>Preparado para frontar los retos y exigencias aportando soluciones ágiles y efectivas, con habilidades para la implementación e integración de las tecnologías del mercado actual, destacándome a través del buen desempeño grupal, el liderazgo y el sentido de responsabilidad.</p>
            </div>    
        </div>
    </div>
</div>