<div class="portfolio">
    <app-portfolio-header></app-portfolio-header>
    <app-portfolio-about></app-portfolio-about>
    <app-portfolio-sections-experience></app-portfolio-sections-experience>
    <app-portfolio-sections-education></app-portfolio-sections-education>
    <app-portfolio-sections-skill></app-portfolio-sections-skill>
    <app-portfolio-sections-project></app-portfolio-sections-project>
    <app-footer></app-footer>
</div>
<a href="#" *ngIf="windowScrolled" class="back-to-top d-flex align-items-center justify-content-center active">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>