<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" id="brand" class="navbar-brand" href="#">
    <img id="brand-logo" width="40" height="30" class="d-inline-block align-top" src="../assets/argprop-logo2.jpg" alt="ArgProg-logo">
    <b id="brand-name">Argentina Programa</b>
  </a>
  <div class="container-fluid justify-content-end">
    <div id="socialicons" class="d-flex">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-whatsapp"></a>
      <a href="#" class="fa fa-instagram"></a> 
    </div>
    <button routerLink="/login" id="loginbutton" type="button" class="btn btn-outline-warning"><b>LOGIN</b></button>
  </div>
</nav>
<router-outlet></router-outlet>
