<div class="container-fluid">
    <div class="portfolio-sections">  
        <div class="section">
            <div class="title">          
                <p>Educación</p>
                <div class="edit-buttons">
                    <i class="fa fa-plus-circle" aria-hidden="true" *ngIf="!showAddEducation" (click)="onShowAddEducation()"></i>
                </div>
            </div>
            

            <!--form for adding new education-->
            <form class="row container d-flex justify-content-center form-block" *ngIf="showAddEducation" (ngSubmit)="onSubmitAddEducation()">
                <div class="col-xl-12">
                    <div class="card proj-progress-card">
                        <div class="card-block d-flex justify-content-between">
                            <div class="row">
                                <div class="form-group row">
                                    <label for="text" class="col-sm-2 col-form-label">Institución</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="institucion" id="institucion" placeholder="Nombre de la institución" [(ngModel)]="institucion">
                                    </div>
                                </div>
                                <div class="form-group row form-row">
                                    <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="nombre-estudio" id="nombre-estudio" placeholder="Nombre del curso, estudio o capacitación" [(ngModel)]="nombre">
                                    </div>
                                </div>
                                <div class="form-group row form-row">
                                    <label for="text" class="col-sm-2 col-form-label">Fecha de Inicio</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="fecha-inicio-estudio" id="fecha-inicio-estudio" placeholder="Fecha de inicio" [(ngModel)]="fechaInicio">
                                    </div>
                                </div>
                                <div class="form-group row form-row">
                                    <label for="text" class="col-sm-2 col-form-label">Fecha de Finalización</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="fecha-finalizacion-estudio" id="fecha-finalizacion-estudio" placeholder="Fecha de finalización" [(ngModel)]="fechaFinalizacion">
                                    </div>
                                </div>
                                <div class="form-group row form-row">
                                    <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="descripcion-estudio" id="descripcion-estudio" placeholder="Descripción" [(ngModel)]="descripcion">
                                    </div>
                                </div>
                                <div class="form-group row form-row">
                                <div class="col-sm-2">Estudio actual</div>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="estudio-actual" id="estudio-actual" [(ngModel)]="estudioActual">
                                        <label class="form-check-label" for="estudio-actual">
                                            
                                        </label>
                                    </div>
                                </div>
                                </div>
                                <div class="form-row d-flex">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-warning">Agregar estudio</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="edit-buttons">
                                    <i class="fa fa-close" aria-hidden="true" (click)="onShowAddEducation()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!--list of educations-->
            <div *ngFor="let educacion of myEducations">
                <div class="subsection">
                    <div class="col-6">
                        <p>{{educacion.institucion}}</p>
                        <p>{{educacion.nombre}}</p>
                        <p>{{educacion.fechaInicio}} - {{educacion.fechaFinalizacion}}</p>
                        <p>{{educacion.descripcion}}</p>
                    </div>
                    <div class="edit-buttons">
                        <i class="fa fa-pencil edit-icon" aria-hidden="true" *ngIf="!showModifyEducation[educacion.id]" (click)="onShowModifyEducation(educacion.id)"></i>
                        <i class="fa fa-trash delete-icon" aria-hidden="true" (click)="onDeleteEducation(educacion)"></i>
                    </div>
                </div>

                <!--form for modifying education-->
                <form class="row container d-flex justify-content-center form-block" *ngIf="showModifyEducation[educacion.id]" (ngSubmit)="onSubmitModifyEducation(educacion)">
                    <div class="col-xl-12">
                        <div class="card proj-progress-card">
                            <div class="card-block d-flex justify-content-between">
                                <div class="row">
                                    <div class="form-group row">
                                        <label for="text" class="col-sm-2 col-form-label">Institución</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="institucion" id="institucion" placeholder="Nombre de la institución" [(ngModel)]="institucion">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nombre-estudio" id="nombre-estudio" placeholder="Nombre del curso, estudio o capacitación" [(ngModel)]="nombre">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Inicio</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-inicio-estudio" id="fecha-inicio-estudio" placeholder="Fecha de inicio" [(ngModel)]="fechaInicio">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Fecha de Finalización</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fecha-finalizacion-estudio" id="fecha-finalizacion-estudio" placeholder="Fecha de finalización" [(ngModel)]="fechaFinalizacion">
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                        <label for="text" class="col-sm-2 col-form-label">Descripción</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="descripcion-estudio" id="descripcion-estudio" placeholder="Descripción" [(ngModel)]="descripcion"> 
                                        </div>
                                    </div>
                                    <div class="form-group row form-row">
                                    <div class="col-sm-2">Estudio actual</div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="estudio-actual" id="estudio-actual" [(ngModel)]="estudioActual">
                                            <label class="form-check-label" for="estudio-actual">
                                                
                                            </label>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="form-row d-flex">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-warning">Modificar estudio</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="edit-buttons">
                                        <i class="fa fa-close" aria-hidden="true" (click)="onShowModifyEducation(educacion.id)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>